<div class="container" style="margin-top: 66px;">

  <div class="row">
    <div class="col-md-4">
      <div class="wrapper" style="width: 60%;height: 400px; padding: 8px; overflow: scroll">
        <% @enfants.each do |enfant| %>

          <div class="card" style="padding: 8px;cursor: pointer" id="<%= enfant.id %>" data-select="false">

            <div class="bas" style="display: flex;flex-direction: row;justify-content: space-between">
              <div class="photo" style="width: 50px;height: 50px;border-radius: 50%;overflow: hidden;left: 50px">
                <% if enfant.photo.nil? %>

                  <%= link_to enfant_activites_path(enfant) do %>
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
                  <% end %>

                <% else %>

                  <%= link_to enfant_activites_path(enfant) do %>
                    <%= cl_image_tag(enfant.photo, :width => 400, folder: "lesmaternelles/mj@test.fr/eleves") %>
                  <% end %>

                <% end %>
              </div>


              <div style="font-size: 0.8rem">
                <div><%= enfant.prenom %> <strong><%= enfant.nom %></strong></div>
                <p>Groupe <strong><%= enfant.groupe %></strong></p>
              </div>
            </div>


          </div>

        <% end %>
      </div>

    </div>
    <div class="col-md-8">

      <div class="selection" style="display: flex;flex-wrap: wrap;padding: 24px">
        <% @enfants.each do |enfant| %>
          <div class="tag" hidden data-tag="tag<%= enfant.id %>" style="text-align:center;margin:4px;font-size: 0.6rem;padding: 2px;background-color:cornflowerblue;color: white;border-radius: 8px;width: 80px">
            <%= "#{enfant.prenom} #{enfant.nom[0]}" %>
          </div>
        <% end %>
      </div>
      <%= simple_form_for @correspondance do |f|  %>
        <input type="hidden" value="<%= @enfantsSelect %>" name="enfants" id="enfants">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitches" name="reception">
          <label class="custom-control-label" for="customSwitches">Accusé réception</label>
        </div>
        <div class="form-group">

          <%= f.input :sujet %>
          <%= f.input :body %>
          <div class="row form-group">
            <%= label_tag "attachment", 'Attachment:', class: "col-sm-1 control-label"%>
            <div class="col-sm-10">
              <%= file_field_tag "attachment[]",  multiple: true %>
            </div>
          </div>
          <%= f.submit %>
        </div>



      <% end %>
    </div>

  </div>
</div>