<div class="container" style="margin-top: 60px">
  <h1>show <%= @enfant.prenom %></h1>
  <div class="image" style="width: 200px;height: 150px">
    <% if @status != 'new' %>
    <% if @enfant.photo.nil? %>

      <%= link_to enfant_activites_path(@enfant) do %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" width="200"/>
      <% end %>

    <% else %>

      <%= link_to enfant_activites_path(@enfant) do %>
        <%= cl_image_tag(@enfant.photo, :width => 200, :crop => "fit", :effect=>"cartoonify") %>
      <% end %>

    <% end %>
      <% end %>
  </div>
  <%= simple_form_for @enfant do |f| %>


    <hr>
    <%= f.input :nom %>
    <%= f.input :prenom %>
    <%= f.collection_radio_buttons :sexe, [['G', 'Garcon'], ['F', 'Fille']], :first, :last %>
    <hr>
    <input type="email" name="emails[]" value="<%= @emails[0] %>" class="form-control my-2">
    <input type="email" name="emails[]" value="<%= @emails[1] %>" class="form-control my-2">

    <hr>
    <%= f.input :photo, as: :file  %>

    <hr>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>